{% extends "base.html" %}

{% block content %}
<script>
    setInterval(function() {
    $.ajax({
     type: "GET",
     url: "/",
    })
     .done(function( data ) {
       console.log(data);
       $("#table-box").html(data); 
       $("#table-box2").html(data); 
      }).fail(function(jqXHR, textStatus, errorThrown) {
        console.log(jqXHR, textStatus, errorThrown);
      });
     }, 10*1000); 
 </script>
 <table border="2" cellpadding="4" cellspacing="0" id="table-box" >
  <tbody>
    <tr>
        <th>id</th>
        <th>ip-address</th>
        <th>port-number</th>
        <th>hardware</th>
        <th>manufacturer</th>
        <th>status-start</th>
    </tr>
    <tr>
    {% for switch in switches %}
        <td>{{ switch["id"] }}</td>
        <td>{{ switch["flow-node-inventory:ip-address"] }}</td>
        <td>{{ switch["flow-node-inventory:port-number"] }}</td>
        <td>{{ switch["flow-node-inventory:hardware"] }}</td>
        <td>{{ switch["flow-node-inventory:manufacturer"] }}</td>
        <td>{{ switch["flow-node-inventory:snapshot-gathering-status-start"]["begin"] }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>

{% if hosts %}

<table border="2" cellpadding="4" cellspacing="0" id="table-box2" >
  <tbody>
    <tr>
        <th>node-id</th>
        <th>id</th>
        <th>ip</th>
        <th>mac</th>
    </tr>
    <tr>
    {% for host in hosts %}
        <td>{{ host["node-id"] }}</td>
        <td>{{ host["host-tracker-service:addresses"][0]["id"] }}</td>
        <td>{{ host["host-tracker-service:addresses"][0]["ip"] }}</td>
        <td>{{ host["host-tracker-service:addresses"][0]["mac"] }}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}

{% endblock %}
